.board__container
  .board#js-board
    img.board__image(src="https://s3.amazonaws.com/technicalmachine-assets/launch/animation-files/tessel2.png")

  .board-module
    img.board-module__image(src="https://s3.amazonaws.com/technicalmachine-assets/launch/animation-files/tessel2-module.png")

  .board-usb
    img.board-usb__image(src="https://s3.amazonaws.com/technicalmachine-assets/launch/animation-files/tessel2-usb.png")
      
  .board-usbover
    img.board-usbover__image(src="https://s3.amazonaws.com/technicalmachine-assets/launch/animation-files/tessel2-usbover.png")
