section#sec-footer
  .row
    .large-10.column.large-centered
      .row.text-center
        p Tessel &copy; 2013-2017.
      .row.text-center
        p 
          a(href="/resellers") Resellers
          |  | 
          a(href="/community") Community
          |  | 
          a(href="/opensource") Open Source
          |  |
          a(href="/about") About us
          |  | 
          a(href="/blog") Blog
          |  | 
          a(href="/press") Press
          |  |
          a(href="http://tesselproject.tumblr.com/rss") RSS
      .row.text-center
        a(href="https://heapanalytics.com/?utm_source=badge")
          img(style="height:40px" src="https://www.digitalocean.com/assets/media/logos-badges/png/DO_Powered_by_Badge_blue-fe4c6688.png" alt="Powered by Digital Ocean")
