section#sec-footer
  .row
    .large-10.column.large-centered
      .row.text-center
        p Tessel &copy; 2013-2018.
      .row.text-center
        p 
          a(href="/resellers") Resellers
          |  | 
          a(href="/community") Community
          |  | 
          a(href="/opensource") Open Source
          |  |
          a(href="/about") About us
          |  | 
          a(href="/blog") Blog
          |  | 
          a(href="/press") Press
          |  |
          a(href="http://tesselproject.tumblr.com/rss") RSS
