section#sec-footer
  .row
    .large-10.column.large-centered
      .row.text-center
        p Tessel &copy; 2013-2015.
      .row.text-center
        p 
          a(href="/resellers") Resellers
          |  | 
          a(href="/community") Community
          |  | 
          a(href="/opensource") Open Source
          |  |
          a(href="/about") About us
          |  | 
          a(href="/blog") Blog
          |  | 
          a(href="/press") Press
      .row.text-center
        a(href="https://heapanalytics.com/?utm_source=badge")
          img(style="width:100px;height:40px" src="//heapanalytics.com/img/badge.png" alt="Heap - iOS and Web Analytics")
