link(rel="schema.DC", href="http://purl.org/dc/elements/1.1/")
meta(name="DC.title", content="Tessel")
meta(name="DC.identifier", content="http://tessel.io")
meta(name="DC.description", content="Tessel is a JavaScript-programmable microcontroller. It\'s Node-compatible and ships with Wifi built in. Use it to easily make physical devices that connect to the web.")
meta(name="DC.subject", content="Node, Javascript, Internet of Things, Connected, Hardware")
meta(name="DC.language", scheme="ISO639-1", content="en")
meta(name="DC.creator", content="http://technical.io")
meta(name="DC.type", scheme="DCMITYPE", content="http://purl.org/dc/dcmitype/PhysicalObject")
meta(name="DC.type", scheme="DCMITYPE", content="http://purl.org/dc/dcmitype/Software")
link(rel="schema.DCTERMS", href="http://purl.org/dc/terms/")
meta(name="DCTERMS.created", scheme="ISO8601" content="2013-05-18")

title= title

meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0")
link(rel='stylesheet', href='/stylesheets/main.css')

// Custom fonts
link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900,400italic', rel='stylesheet', type='text/css')
link(href='//fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')

// Other CSS
link(rel='stylesheet', href='/webicons-master/webicons.css')
link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
// highlight.js
link(rel="stylesheet", href="//cdn.jsdelivr.net/highlight.js/8.4/styles/monokai_sublime.min.css")
