extends layout
<meta name="Description" content="Tessel community: hardware + the web.">
  
block content
  include ./partials/standard-nav
  section.block(style="margin-bottom: 20px")
    .row
      .large-12.columns.large-center
        h1 Welcome to our community!
        h4 Get in touch:
    .row
      
      mixin community-hub(name, icon, description, link)
        a(href=link)
          .large-4.columns
            .large-5.columns.left
              img(src=icon style="max-width:100px")
            .large-7.columns.right
              h4 #{name}
              p #{description}

      +community-hub('Forums', 'https://s3.amazonaws.com/technicalmachine-assets/technical-io/press-page/branding/tessel-250.png', 'Your first stop for support and finding answers.', '//tessel.io/forums')
      +community-hub('Slack', 'https://upload.wikimedia.org/wikipedia/en/7/76/Slack_Icon.png', 'Hang out with the team on our community chat.', '//tessel-slack.herokuapp.com')
      +community-hub('Github', 'http://image005.flaticon.com/25/svg/25/25231.svg', 'Get involved with development of the Tessel Project.', '//github.com/tessel/project')
      
    .row
      .large-12.columns.large-center
        h4 Share a project or get inspired:
        
        a(href="//tessel.io/projects")
          img(src="http://i.imgur.com/pKaDqNr.png")
        p Tessel community members show off their projects at <a href="//tessel.io/projects">tessel.io/projects</a>.
        
        h4 Join fellow Tesselators around the world:
    .row
      .large-9.columns.large-center
        a(href="//tessel.meetup.com")
          img(src="http://i.imgur.com/aMr8Q9O.png")
      .large-3.columns
        a(href="http://www.meetup.com/topics/tessel/")
          img(src="http://photos2.meetupstatic.com/photos/event/4/2/6/highres_147421062.jpeg" style="margin-bottom: 20px")
        p Do you host a meetup which (sometimes) involves Tessel? <a href="http://www.meetup.com/help/article/903789/">Add "Tessel" as a meetup topic</a> to be listed here.
